html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  position: relative;
  text-align: center;
}

h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
}

p {
  font-family: "Lato", sans-serif;
}

#burger {
  position: fixed;
  left: 0;
  z-index: 10;
  color: black;
}

#burger-menu {
  width: 45%;
  top: 5%;
  position: fixed;
  z-index: 10;
  display: none;
}

nav ul {
  background: black;
  list-style: none;
  text-align: center;
  padding: 0;
}

nav ul a {
  text-decoration: none;
  text-align: left;
}

nav ul li {
  color: white;
  font-size: 2em;
  padding-top: 1em;
  padding-left: 0.25em;
}

#intro {
  background-image: url("images/bg1-mobile.jpg");
  width: 100%;
  height: 100vh;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
  text-align: center;
}

#intro h1 {
  position: relative;
  top: 20vh;
}

#intro p {
  top: 20vh;
  position: relative;
}

#about {
  background-image: url("images/bg1.jpg");
  width: 100%;
  height: 100vh;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}

#about h2 {
  top: 10%;
  position: relative;
}

#about p {
  padding-left: 8em;
  padding-right: 1em;
  font-size: 0.75rem;
}

#about-container p:nth-child(1) {
  margin-top: 9em;
}

#specialties {
  background-image: url("images/bg3.jpg");
  width: 100%;
  height: 100vh;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}

#specialties h1 {
  top: 10%;
  position: relative;
}

#specialties ul:nth-child(odd) {
  grid-area: grid-left;
}

#specialties ul:nth-child(even) {
  grid-area: grid-right;
}

#specialties p {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.5em;
  text-align: center;
  position: relative;
  top: 20%;
}

.specialties-grid {
  display: grid;
  padding: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "grid-left grid-right"
    "grid-left grid-right";
  grid-gap: 1em;
}

#specialties ul {
  position: relative;
  top: 12%;
  list-style: none;
}

#specialties ul li {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.25em;
  text-align: center;
}

#menu {
  background-image: url("images/bg3-mobile.jpg");
  width: 100%;
  height: 100vh;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}

#menu {
  list-style: none;
}

#menu h1 {
  font-size: 1.5em;
}

#menu h2 {
  font-size: 1.25em;
}

#menu p {
  font-size: 0.8em;
  padding-right: 1em;
}

#follow-up li {
  font-size: 0.8em;
}

.menu-container {
  text-align: right;
}

.menu-container ul {
  list-style: none;
  padding: 0;
  padding-left: 8em;
  padding-right: 1em;
}

#menu-grid {
  display: grid;
  padding: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "grid-left grid-right"
    "grid-left grid-right";
  grid-gap: 0.5em;
  font-size: 0.8em;
  padding-right: 1em;
}

#menu-grid ul:nth-child(odd) {
  grid-area: grid-left;
  text-align: left;
}

#menu-grid ul:nth-child(even) {
  grid-area: grid-right;
  text-align: right;
}

#menu-grid ul li {
  font-size: 16px;
}

#disclaimer {
  font-size: 0.7em;
}

#packages li {
  font-weight: bold;
  font-size: 1.25em;
}

#contact {
  display: flex;
  justify-content: space-around;
  background-color: black;
}

#contact a {
  text-decoration: none;
  color: black;
}

.fab,
.fas {
  font-size: 4em;
  color: white;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4rem;
  }

  #menu h1 {
    font-size: 5rem;
  }

  #menu h2 {
    font-size: 4rem;
  }

  #intro p {
    font-size: 3rem;
  }

  #about p {
    font-size: 1.75rem;
    padding-left: 12em;
  }

  #menu p {
    font-size: 1.75rem;
  }

  #follow-up li {
    font-size: 1.75rem;
  }

  .menu-container ul {
    padding-left: 21em;
    padding-right: 1em;
  }

  #menu-grid {
    grid-gap: 0.5em;
    font-size: 2rem;
    padding-right: 1em;
  }

  #packages li {
    font-weight: bold;
    font-size: 3rem;
  }

  #about-container p:nth-child(1) {
    margin-top: 5em;
  }
  #disclaimer {
    font-size: 1.5rem;
  }

  .specialties-grid {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  #about-container {
    text-align: left;
    padding-left: 16em;
  }

  #about p {
    font-size: 1.25rem;
  }

  #menu p:first-child {
    font-size: 1rem;
    text-align: center;
  }
  #menu p:nth-child(2) {
    text-align: center;
    font-size: 1.5rem;
  }

  #menu h2 {
    font-size: 3rem;
  }

  #packages li {
    font-size: 2rem;
  }

  #follow-up li {
    font-size: 1.25rem;
    text-align: center;
  }

  .menu-container ul #follow-up {
    padding: 0;
  }

  #border {
    height: 8em;
    width: 100vw;
    background-color: rgb(01, 02, 03);
  }

  .menu-container ul {
    padding: 0;
  }

  #packages {
    padding-left: 22em;
  }
}
